$main-color : #1D1A41;
$sub-color : #C10010;
$font-normal : #3d3d3d;

@mixin font($s: 0.875rem, $w:normal, $c:null, $f:null){
    font-size: $s;
    font-weight: $w;
    font-family: $f;
    color : $c;
}
@mixin size($w:100%, $h:100%){
  width: $w;
  height: $h;
}
@mixin position($t:null ,$l:null, $p:absolute, $r:null ,$b:null){
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}
@mixin background($u:null, $d:center, $s:cover){
  background-image: url("../images/#{$u}");
  background-position: $d center;
  background-size: $s;
  background-repeat: no-repeat;
}
@mixin flex ($j:space-between, $a:center, $d:null){
  display: flex;
  justify-content: $j;
  align-items : $a;
  flex-direction: $d;
}
@function rem($s){
    @return $s/16 +rem;
}
@function em($s, $b){
    @return $s/$b +em;
}
@function vw($s){
    @return $s/19.2 +vw;
}
@function vh($s){
    @return $s/10.24 +vh;
}
@mixin middle_window{
  @media (min-width: 768px) and (max-width: 1279px){
    @content;
  }
}
@mixin mobile{
  @media (min-width: 0px) and (max-width: 768px){
    @content;
  }
}

html{
  font-size: 1vw;
}
body{
    @include font(rem(14), normal, $font-normal);
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    .inner{
      width: vw(1594);
      margin: 0 auto;
    }
    h2{
      @include font(rem(140), bold, #fff);
    }
    h3{
      @include font(rem(80), bold, $main-color);
    }
    .filled{
      @include size(vw(186),vh(32));
      background: $main-color;
      color: #fff;
      text-align: center;
      padding: 0 em(35,20);
    }
    .blank{
      @include size(vw(186),vh(32));
      border: 1px solid $main-color;
      color: $main-color;
      text-align: center;
      padding: 0 em(35,20);
    }
    .titles{
      h3{
        @include font(rem(60), bold, $main-color);
        line-height: em(60,60);
      }
    }
    .bg_btn{
      @include position(0, 0);
      @include size;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      transition: 1s;
      span{
        @include size(vw(230),vw(50));
        @include position(50%, 50%);
        border:1px solid #fff;
        text-align: center;
        line-height: vw(50);
        @include font(rem(18),bold, #fff);
        transform: translate(-50%, -50%);
      }
    }
    .scroll_btn{
      @include size(vw(200),vw(35));
      @include flex;
      span{
        @include size(vw(35), vw(35));
        border: 1px solid $main-color;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        &.on{
          background: $main-color;
        }
      }
    }
}

//header 
header{
  position: fixed;
  background: $sub-color;
  @include size(100%, vh(60));
  @include font(rem(14), normal, #fff);
  z-index: 20;
  nav{
    height: 100%;
    @include flex;
    ul{
      @include flex;
      &:nth-of-type(1){
        width: vw(357);
      }
      &:nth-of-type(2){
        width: vw(118);
        font-size: rem(30)
      }
    }
    h1{
      @include size(vw(360), vw(20));
      font-size: 0;
      @include background('logo1.png');
      margin-right: vw(220);
    }
  }
}

main{

  //visual

  #visual{
    @include size(100vw, 200vh);
    .visual_slide{
      @include size;
      overflow: hidden;
      .visual_1{
        overflow: hidden;
        position: relative;
        perspective: 500px;
        @include size(100vw,50%);
        img:nth-of-type(1){
          @include size;
        }
        .visual_text1{
          width: vw(1000);
          @include position(35%, 40%);
          transition: 0.5s;
          transform: rotateY(0);
          h2{
            text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
            @include position(0, 0);
            opacity: 0;
            transition: 1s;
            &.on{
              opacity: 1;
            }
          }
        }
        img:nth-of-type(2){
          @include position(30vh, -10vw);
          transition: 1s;
          transform: rotateY(0);
        }
      }
      .visual_2{
        @include flex;
        width: 100vw;
        overflow: hidden;
        div{
          width: 50%;
          &.visual_text2{
            margin-top: 14%;
            align-self: flex-start;
            padding: 0 vw(160);
            h3{
              line-height: em(80,80);
              margin-bottom: em(60, 80);
              strong{
                font-size: rem(110);
                color: $sub-color;
              }
              span{
                font-weight: normal;
                margin-right: em(30,80);
              }
            }
            p{
              font-family: 'Noto Sans KR';
              font-size: rem(20);
            }
            .visual_sub_btn{
              p{
                font-size: rem(14);
              }
              width: vw(380);
              margin-top: vh(80);
              @include flex;
            }
          }
          &.visual_background{
            display: flex;
            position: relative;
            @include size(50%, 100vh);
            transform: rotate(30deg);
            ul{
              position: relative;
              transition: 0.3s;
              @include size(50%, 100%);
              right: 0;
              li{
                @include size(vw(381),vh(546));
                border-radius: 10px;
                border: 10px solid #fff;
                box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
                margin: 0 vw(60);
                position: absolute;
                img{
                  @include size;
                }
              }
            }
          }
        }
      }
    }
  }
  
  //popular

  #popular{
    padding: vh(140) 0;
    .popular_grid{
      margin-top: vh(80);
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3,vh(710));
      row-gap: vh(140);
      li{
        position: relative;
        @for $i from 1 to 7 {
          &:nth-child(#{$i}){
            .img_box{
              @include background('popular#{$i}.jpg');
            }
          }
        }
        .img_box{
          position: absolute;
          &:hover{
            .bg_btn{
              opacity: 1;
            }
          }
        }
        .popular_text_box{
          position: absolute;
          h3{
            @include font(rem(60),bold,$sub-color);
            line-height: rem(60);
          }
          p{
            @include font(rem(30));
            margin-top: em(30,30);
            span{
              @include font(rem(20),normal,#666);
              margin-left: em(5,20);
            }
          }

        }  
        &:nth-child(1){
          .img_box{
            @include size(vw(646), vh(709));
            right:0;
          }
          .popular_text_box{
            top: vh(50);
            left: vw(20)
          }
        }
        &:nth-child(2){
          .img_box{
            @include size(vw(493),vw(493));
            right: 0;
          }
          .popular_text_box{
            top: vw(400);
            left: 50%;
          }
        }
        &:nth-child(3){
          .img_box{
            @include size(vw(646), vh(709));
          }
          .popular_text_box{
            text-align: right;
            right: vw(24);
            top: vh(40);
          }
        }
        &:nth-child(4){
          .img_box{
            @include size(vw(453),vw(453));
            right: 0;
            top: 20%;
          }
          .popular_text_box{
            top: 35%;
            left: 26%;
          }
        }
        &:nth-child(5){
          .img_box{
            left: 10%;
            @include size(vw(453),vw(453));
          }
          .popular_text_box{
            left: 18%;
            top: vw(400);
          }
        }
        &:nth-child(6){
          .img_box{
            @include size(vw(619), vh(709));
            right: 0;
          }
          .popular_text_box{
            top: vh(50);
            left: vw(40);
          }
        }
      }
    }
  }

  //sale_banner

  #sale_banner{
    position: relative;
    overflow: hidden;
    @include size(100vw,100vh);
    .sale_container{
      @include size(100vw, 100vh);
      padding: 0 vw(160);
      background: $sub-color;
      @include flex;
      .sale_text{
        @include flex;
        flex-direction: column;
        h2{
          @include font(rem(80),bold,#fff);
          line-height: rem(140);
        }
        p{
          @include font(rem(30),normal,#fff);
          margin: em(30,30);
        }
        .blank{
          margin-top: vh(50);
          @include font(rem(18),normal,#fff);
          line-height: em(26,18);
          border-color: #fff;
        }
      }
      .sale_img{
        border-radius: 50%;
        background: #fff;
        box-shadow: -3px 3px 6px rgba(0,0,0,0.5);
        @include size(vw(800),vw(800));
        img{
          @include size(60vw, auto);
          @include position($b:vw(30), $r:-5%);
        }
      }
    }
  }

  //last_viewed

  #last_viewed{
    padding: vh(100) 0;
    .last_slide{
      margin-top: vh(80);
      position: relative;
      @include size(400vw, vh(560));
      @for $i from 1 to 5 {
        .slide_#{$i}{
          @for $j from 1 to 5 {
            li:nth-child(#{$j}){
              .contents_img{
                @include background('viewed#{$i}-#{$j}.jpg');
              }
            }
          }
        }
      }
      .slides{
        @include position(0, 0);
        width: vw(1594);
        opacity: 0;
        transition: 1s;
        &:last-child{
          margin-right: 0;
        }
        &.on{
          z-index: 1;
          opacity: 1;
        }
      }
      .depth1{
        @include flex;
        @include size(100%, vh(560));
        li{
          @include size(vw(360), 100%);
          border: 1px solid $main-color;
          box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
          .contents_img{
            @include size(100%, 76%);
            position: relative;
            &:hover{
              .bg_btn{
                opacity: 1;
              }
            }
          }
          .content_text{
            padding: vw(20) vw(20);
            h6{
              width: 90%;
              overflow:hidden; 
              text-overflow:ellipsis; 
              white-space:nowrap;
              line-height: vh(50);
              @include font(rem(24),bold);
              font-family: "Noto Sans KR";
            }
          }
  
        }
      }
      }
    .scroll_btn{
      margin: vh(100) auto;
      cursor: pointer;
      span{
        transition: 0.5s;
      }
    }
  }

  //arrival

  #arrival{
    padding-bottom: vh(80);
    .arrival_grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin-top: vh(60);
      gap: vw(36) vw(36);
      .arrival_item{
        cursor: pointer;
        @include size(vw(780), vw(765));
        border: 1px solid $sub-color;
        position: relative;
        overflow: hidden;
        &:hover{
          .item_img{
            transform: scale(1);
            .bg_btn{
              opacity: 0;
            }
          }
          h4{
            transform: translate(-50%, -50%) scale(2);
            opacity: 1;
          }
        }
        .item_img{
          @include size;
          transform: scale(1.2);
          transition: 1s;
          .bg_btn{
            opacity: 1;
          }
        }
        @for $i from 1 to 5 {
          &:nth-child(#{$i}){
            .item_img{
              @include background('arrival#{$i}.jpg');
            }
          }
        }
        h4{
          @include position(50%, 50%);
          transform: translate(-50%, -50%) scale(1);
          opacity: 0;
          transition: 1s;
          text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
          @include font(rem(60), bold, $sub-color);
        }
      }
    }
  }

  //md- pick

  #md_pick{
    padding-bottom: vh(80);
    height: 100vh;
    .md_slider{
      height: 100%;
      margin-top: vh(70);
      @include flex;
      position: relative;
      .md_text{
        @include size(40%, 100%);
        position: relative;
        li{
          @include position(14%, 0);
          opacity: 0;
          transition: 1s;
          &.on{
            opacity: 1;
          }
          h5{
            @include font(rem(40), normal);
          }
          p{
            @include font(rem(18));
            margin-top: vh(40);
            width: 60%;
            font-family: 'Noto Sans KR';
          }
        }
      }
      .md_imgs{
        @include size(60%, 100%);
        position: relative;
        perspective: 1000px;
        overflow: hidden;
        li{
          @include position(0, 0);
          @include size(vw(616), vw(680));
          border: 1px solid $main-color;
          box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
          transition: 1s;
          @for $i from 1 to 5 {
            &:nth-child(#{$i}){
              @include background('md#{$i}.jpg');
            }
          }
          &.page_-1, &.page_-2, &.page_-3{
            left: -100%;
          }
          &.page_0{
            z-index: 4;
          }
          &.page_1{
            transform: scale(0.8) rotateY(-20deg);
            left: 24%;
            z-index: 3;
          }
          &.page_2{
            transform: scale(0.6) rotateY(-30deg);
            left: 40%;
            z-index: 2;
          }
          &.page_3{
            transform: scale(0.4) rotateY(-40deg);
            left: 50%;
            z-index: 1;
          }
        }
      }
      .scroll_btn{
        @include position(vw(700), 5%);
        cursor: pointer;
      }
    }
  }
  
  //street

  #street{
    margin-bottom: vh(80);
    .titles{
      span{
        color: $sub-color;
      }
    }
    .street_grid{
      margin-top: vh(80);
      display: grid;
      grid-template-columns: repeat(4,vw(390));
      grid-template-rows: repeat(5,vw(390));
      gap: vw(10) vw(10);
      grid-template-areas: 
      "street0 street1 street1 street2"
      "street0 street3 street4 street4"
      "street5 street5 street4 street4"
      "street6 street7 street7 street8"
      "street9 street9 street10 street8";
      li{
        overflow: hidden;
        .street_img{
          transform: scale(1);
          transition: 1s;
          .bg_btn{
            opacity: 1;
          }
        }
        &:hover{
          .street_img{
            transform: scale(1.2);
            .bg_btn{
              opacity: 0;
            }
          }
        }
        @for $i from 0 to 11 {
          &.street_#{$i}{
            grid-area: street#{$i};
            .street_img{
              @include size;
              @include background('street#{$i}.jpg');
            }
          }
        }
      }
    }
  }
}

//footer

footer{
  position: relative;
  background: $main-color;
  padding: vh(20) vw(164);
  height: 180px;
  display: flex;
  color:#ccc;
  h1{
    @include background('logo2.png');
    font-size:0;
    @include size(128px, 87px);
    margin-right: vw(40);
  }
  .info{
    font-family: 'Noto Sans KR';
  }
  .copyright{
    @include position($b:15%, $l:50%);
    transform: translateX(-50%);
  }
}