html {
  font-size: 1vw;
}

body {
  font-size: 0.875rem;
  font-weight: normal;
  color: #3d3d3d;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

body .inner {
  width: 83.02083vw;
  margin: 0 auto;
}

body h2 {
  font-size: 8.75rem;
  font-weight: bold;
  color: #fff;
}

body h3 {
  font-size: 5rem;
  font-weight: bold;
  color: #1D1A41;
}

body .filled {
  width: 9.6875vw;
  height: 3.125vh;
  background: #1D1A41;
  color: #fff;
  text-align: center;
  padding: 0 1.75em;
}

body .blank {
  width: 9.6875vw;
  height: 3.125vh;
  border: 1px solid #1D1A41;
  color: #1D1A41;
  text-align: center;
  padding: 0 1.75em;
}

body .titles h3 {
  font-size: 3.75rem;
  font-weight: bold;
  color: #1D1A41;
  line-height: 1em;
}

body .bg_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body .bg_btn span {
  width: 11.97917vw;
  height: 2.60417vw;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #fff;
  text-align: center;
  line-height: 2.60417vw;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .scroll_btn {
  width: 10.41667vw;
  height: 1.82292vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .scroll_btn span {
  width: 1.82292vw;
  height: 1.82292vw;
  border: 1px solid #1D1A41;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

body .scroll_btn span.on {
  background: #1D1A41;
}

header {
  position: fixed;
  background: #C10010;
  width: 100%;
  height: 5.85938vh;
  font-size: 0.875rem;
  font-weight: normal;
  color: #fff;
  z-index: 20;
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul:nth-of-type(1) {
  width: 18.59375vw;
}

header nav ul:nth-of-type(2) {
  width: 6.14583vw;
  font-size: 1.875rem;
}

header nav h1 {
  width: 18.75vw;
  height: 1.04167vw;
  font-size: 0;
  background-image: url("../images/logo1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 11.45833vw;
}

main #visual {
  width: 100vw;
  height: 200vh;
}

main #visual .visual_slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main #visual .visual_slide .visual_1 {
  overflow: hidden;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
  width: 100vw;
  height: 50%;
}

main #visual .visual_slide .visual_1 img:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

main #visual .visual_slide .visual_1 .visual_text1 {
  width: 52.08333vw;
  position: absolute;
  top: 35%;
  left: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

main #visual .visual_slide .visual_1 .visual_text1 h2 {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main #visual .visual_slide .visual_1 .visual_text1 h2.on {
  opacity: 1;
}

main #visual .visual_slide .visual_1 img:nth-of-type(2) {
  position: absolute;
  top: 30vh;
  left: -10vw;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

main #visual .visual_slide .visual_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  overflow: hidden;
}

main #visual .visual_slide .visual_2 div {
  width: 50%;
}

main #visual .visual_slide .visual_2 div.visual_text2 {
  margin-top: 14%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 8.33333vw;
}

main #visual .visual_slide .visual_2 div.visual_text2 h3 {
  line-height: 1em;
  margin-bottom: 0.75em;
}

main #visual .visual_slide .visual_2 div.visual_text2 h3 strong {
  font-size: 6.875rem;
  color: #C10010;
}

main #visual .visual_slide .visual_2 div.visual_text2 h3 span {
  font-weight: normal;
  margin-right: 0.375em;
}

main #visual .visual_slide .visual_2 div.visual_text2 p {
  font-family: 'Noto Sans KR';
  font-size: 1.25rem;
}

main #visual .visual_slide .visual_2 div.visual_text2 .visual_sub_btn {
  width: 19.79167vw;
  margin-top: 7.8125vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #visual .visual_slide .visual_2 div.visual_text2 .visual_sub_btn p {
  font-size: 0.875rem;
}

main #visual .visual_slide .visual_2 div.visual_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
  height: 100vh;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

main #visual .visual_slide .visual_2 div.visual_background ul {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
  height: 100%;
  right: 0;
}

main #visual .visual_slide .visual_2 div.visual_background ul li {
  width: 19.84375vw;
  height: 53.32031vh;
  border-radius: 10px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin: 0 3.125vw;
  position: absolute;
}

main #visual .visual_slide .visual_2 div.visual_background ul li img {
  width: 100%;
  height: 100%;
}

main #popular {
  padding: 13.67188vh 0;
}

main #popular .popular_grid {
  margin-top: 7.8125vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (69.33594vh)[3];
      grid-template-rows: repeat(3, 69.33594vh);
  row-gap: 13.67188vh;
}

main #popular .popular_grid li {
  position: relative;
}

main #popular .popular_grid li:nth-child(1) .img_box {
  background-image: url("../images/popular1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #popular .popular_grid li:nth-child(2) .img_box {
  background-image: url("../images/popular2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #popular .popular_grid li:nth-child(3) .img_box {
  background-image: url("../images/popular3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #popular .popular_grid li:nth-child(4) .img_box {
  background-image: url("../images/popular4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #popular .popular_grid li:nth-child(5) .img_box {
  background-image: url("../images/popular5.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #popular .popular_grid li:nth-child(6) .img_box {
  background-image: url("../images/popular6.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #popular .popular_grid li .img_box {
  position: absolute;
}

main #popular .popular_grid li .img_box:hover .bg_btn {
  opacity: 1;
}

main #popular .popular_grid li .popular_text_box {
  position: absolute;
}

main #popular .popular_grid li .popular_text_box h3 {
  font-size: 3.75rem;
  font-weight: bold;
  color: #C10010;
  line-height: 3.75rem;
}

main #popular .popular_grid li .popular_text_box p {
  font-size: 1.875rem;
  font-weight: normal;
  margin-top: 1em;
}

main #popular .popular_grid li .popular_text_box p span {
  font-size: 1.25rem;
  font-weight: normal;
  color: #666;
  margin-left: 0.25em;
}

main #popular .popular_grid li:nth-child(1) .img_box {
  width: 33.64583vw;
  height: 69.23828vh;
  right: 0;
}

main #popular .popular_grid li:nth-child(1) .popular_text_box {
  top: 4.88281vh;
  left: 1.04167vw;
}

main #popular .popular_grid li:nth-child(2) .img_box {
  width: 25.67708vw;
  height: 25.67708vw;
  right: 0;
}

main #popular .popular_grid li:nth-child(2) .popular_text_box {
  top: 20.83333vw;
  left: 50%;
}

main #popular .popular_grid li:nth-child(3) .img_box {
  width: 33.64583vw;
  height: 69.23828vh;
}

main #popular .popular_grid li:nth-child(3) .popular_text_box {
  text-align: right;
  right: 1.25vw;
  top: 3.90625vh;
}

main #popular .popular_grid li:nth-child(4) .img_box {
  width: 23.59375vw;
  height: 23.59375vw;
  right: 0;
  top: 20%;
}

main #popular .popular_grid li:nth-child(4) .popular_text_box {
  top: 35%;
  left: 26%;
}

main #popular .popular_grid li:nth-child(5) .img_box {
  left: 10%;
  width: 23.59375vw;
  height: 23.59375vw;
}

main #popular .popular_grid li:nth-child(5) .popular_text_box {
  left: 18%;
  top: 20.83333vw;
}

main #popular .popular_grid li:nth-child(6) .img_box {
  width: 32.23958vw;
  height: 69.23828vh;
  right: 0;
}

main #popular .popular_grid li:nth-child(6) .popular_text_box {
  top: 4.88281vh;
  left: 2.08333vw;
}

main #sale_banner {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

main #sale_banner .sale_container {
  width: 100vw;
  height: 100vh;
  padding: 0 8.33333vw;
  background: #C10010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #sale_banner .sale_container .sale_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #sale_banner .sale_container .sale_text h2 {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  line-height: 8.75rem;
}

main #sale_banner .sale_container .sale_text p {
  font-size: 1.875rem;
  font-weight: normal;
  color: #fff;
  margin: 1em;
}

main #sale_banner .sale_container .sale_text .blank {
  margin-top: 4.88281vh;
  font-size: 1.125rem;
  font-weight: normal;
  color: #fff;
  line-height: 1.44444em;
  border-color: #fff;
}

main #sale_banner .sale_container .sale_img {
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
  width: 41.66667vw;
  height: 41.66667vw;
}

main #sale_banner .sale_container .sale_img img {
  width: 60vw;
  height: auto;
  position: absolute;
  right: -5%;
  bottom: 1.5625vw;
}

main #last_viewed {
  padding: 9.76562vh 0;
}

main #last_viewed .last_slide {
  margin-top: 7.8125vh;
  position: relative;
  width: 400vw;
  height: 54.6875vh;
}

main #last_viewed .last_slide .slide_1 li:nth-child(1) .contents_img {
  background-image: url("../images/viewed1-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_1 li:nth-child(2) .contents_img {
  background-image: url("../images/viewed1-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_1 li:nth-child(3) .contents_img {
  background-image: url("../images/viewed1-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_1 li:nth-child(4) .contents_img {
  background-image: url("../images/viewed1-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_2 li:nth-child(1) .contents_img {
  background-image: url("../images/viewed2-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_2 li:nth-child(2) .contents_img {
  background-image: url("../images/viewed2-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_2 li:nth-child(3) .contents_img {
  background-image: url("../images/viewed2-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_2 li:nth-child(4) .contents_img {
  background-image: url("../images/viewed2-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_3 li:nth-child(1) .contents_img {
  background-image: url("../images/viewed3-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_3 li:nth-child(2) .contents_img {
  background-image: url("../images/viewed3-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_3 li:nth-child(3) .contents_img {
  background-image: url("../images/viewed3-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_3 li:nth-child(4) .contents_img {
  background-image: url("../images/viewed3-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_4 li:nth-child(1) .contents_img {
  background-image: url("../images/viewed4-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_4 li:nth-child(2) .contents_img {
  background-image: url("../images/viewed4-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_4 li:nth-child(3) .contents_img {
  background-image: url("../images/viewed4-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slide_4 li:nth-child(4) .contents_img {
  background-image: url("../images/viewed4-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #last_viewed .last_slide .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 83.02083vw;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main #last_viewed .last_slide .slides:last-child {
  margin-right: 0;
}

main #last_viewed .last_slide .slides.on {
  z-index: 1;
  opacity: 1;
}

main #last_viewed .last_slide .depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 54.6875vh;
}

main #last_viewed .last_slide .depth1 li {
  width: 18.75vw;
  height: 100%;
  border: 1px solid #1D1A41;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

main #last_viewed .last_slide .depth1 li .contents_img {
  width: 100%;
  height: 76%;
  position: relative;
}

main #last_viewed .last_slide .depth1 li .contents_img:hover .bg_btn {
  opacity: 1;
}

main #last_viewed .last_slide .depth1 li .content_text {
  padding: 1.04167vw 1.04167vw;
}

main #last_viewed .last_slide .depth1 li .content_text h6 {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 4.88281vh;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Noto Sans KR";
}

main #last_viewed .scroll_btn {
  margin: 9.76562vh auto;
  cursor: pointer;
}

main #last_viewed .scroll_btn span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #arrival {
  padding-bottom: 7.8125vh;
}

main #arrival .arrival_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 5.85938vh;
  gap: 1.875vw 1.875vw;
}

main #arrival .arrival_grid .arrival_item {
  cursor: pointer;
  width: 40.625vw;
  height: 39.84375vw;
  border: 1px solid #C10010;
  position: relative;
  overflow: hidden;
}

main #arrival .arrival_grid .arrival_item:hover .item_img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main #arrival .arrival_grid .arrival_item:hover .item_img .bg_btn {
  opacity: 0;
}

main #arrival .arrival_grid .arrival_item:hover h4 {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  opacity: 1;
}

main #arrival .arrival_grid .arrival_item .item_img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

main #arrival .arrival_grid .arrival_item .item_img .bg_btn {
  opacity: 1;
}

main #arrival .arrival_grid .arrival_item:nth-child(1) .item_img {
  background-image: url("../images/arrival1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #arrival .arrival_grid .arrival_item:nth-child(2) .item_img {
  background-image: url("../images/arrival2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #arrival .arrival_grid .arrival_item:nth-child(3) .item_img {
  background-image: url("../images/arrival3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #arrival .arrival_grid .arrival_item:nth-child(4) .item_img {
  background-image: url("../images/arrival4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #arrival .arrival_grid .arrival_item h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  font-size: 3.75rem;
  font-weight: bold;
  color: #C10010;
}

main #md_pick {
  padding-bottom: 7.8125vh;
  height: 100vh;
}

main #md_pick .md_slider {
  height: 100%;
  margin-top: 6.83594vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main #md_pick .md_slider .md_text {
  width: 40%;
  height: 100%;
  position: relative;
}

main #md_pick .md_slider .md_text li {
  position: absolute;
  top: 14%;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main #md_pick .md_slider .md_text li.on {
  opacity: 1;
}

main #md_pick .md_slider .md_text li h5 {
  font-size: 2.5rem;
  font-weight: normal;
}

main #md_pick .md_slider .md_text li p {
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 3.90625vh;
  width: 60%;
  font-family: 'Noto Sans KR';
}

main #md_pick .md_slider .md_imgs {
  width: 60%;
  height: 100%;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
}

main #md_pick .md_slider .md_imgs li {
  position: absolute;
  top: 0;
  left: 0;
  width: 32.08333vw;
  height: 35.41667vw;
  border: 1px solid #1D1A41;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

main #md_pick .md_slider .md_imgs li:nth-child(1) {
  background-image: url("../images/md1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #md_pick .md_slider .md_imgs li:nth-child(2) {
  background-image: url("../images/md2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #md_pick .md_slider .md_imgs li:nth-child(3) {
  background-image: url("../images/md3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #md_pick .md_slider .md_imgs li:nth-child(4) {
  background-image: url("../images/md4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #md_pick .md_slider .md_imgs li.page_-1, main #md_pick .md_slider .md_imgs li.page_-2, main #md_pick .md_slider .md_imgs li.page_-3 {
  left: -100%;
}

main #md_pick .md_slider .md_imgs li.page_0 {
  z-index: 4;
}

main #md_pick .md_slider .md_imgs li.page_1 {
  -webkit-transform: scale(0.8) rotateY(-20deg);
          transform: scale(0.8) rotateY(-20deg);
  left: 24%;
  z-index: 3;
}

main #md_pick .md_slider .md_imgs li.page_2 {
  -webkit-transform: scale(0.6) rotateY(-30deg);
          transform: scale(0.6) rotateY(-30deg);
  left: 40%;
  z-index: 2;
}

main #md_pick .md_slider .md_imgs li.page_3 {
  -webkit-transform: scale(0.4) rotateY(-40deg);
          transform: scale(0.4) rotateY(-40deg);
  left: 50%;
  z-index: 1;
}

main #md_pick .md_slider .scroll_btn {
  position: absolute;
  top: 36.45833vw;
  left: 5%;
  cursor: pointer;
}

main #street {
  margin-bottom: 7.8125vh;
}

main #street .titles span {
  color: #C10010;
}

main #street .street_grid {
  margin-top: 7.8125vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20.3125vw)[4];
      grid-template-columns: repeat(4, 20.3125vw);
  -ms-grid-rows: (20.3125vw)[5];
      grid-template-rows: repeat(5, 20.3125vw);
  gap: 0.52083vw 0.52083vw;
      grid-template-areas: "street0 street1 street1 street2" "street0 street3 street4 street4" "street5 street5 street4 street4" "street6 street7 street7 street8" "street9 street9 street10 street8";
}

main #street .street_grid li {
  overflow: hidden;
}

main #street .street_grid li .street_img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

main #street .street_grid li .street_img .bg_btn {
  opacity: 1;
}

main #street .street_grid li:hover .street_img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main #street .street_grid li:hover .street_img .bg_btn {
  opacity: 0;
}

main #street .street_grid li.street_0 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: street0;
}

main #street .street_grid li.street_0 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street0.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: street1;
}

main #street .street_grid li.street_1 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: street2;
}

main #street .street_grid li.street_2 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: street3;
}

main #street .street_grid li.street_3 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: street4;
}

main #street .street_grid li.street_4 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: street5;
}

main #street .street_grid li.street_5 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street5.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_6 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: street6;
}

main #street .street_grid li.street_6 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street6.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_7 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: street7;
}

main #street .street_grid li.street_7 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street7.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: street8;
}

main #street .street_grid li.street_8 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street8.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_9 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: street9;
}

main #street .street_grid li.street_9 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street9.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #street .street_grid li.street_10 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: street10;
}

main #street .street_grid li.street_10 .street_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/street10.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  position: relative;
  background: #1D1A41;
  padding: 1.95312vh 8.54167vw;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ccc;
}

footer h1 {
  background-image: url("../images/logo2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  width: 128px;
  height: 87px;
  margin-right: 2.08333vw;
}

footer .info {
  font-family: 'Noto Sans KR';
}

footer .copyright {
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */